.landing-page {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page .div {
  background-color: #f1f1f1;
  border: 1px none;
  height: 844px;
  overflow: hidden;
  position: relative;
  width: 1069px;
}

.landing-page .shopping-cart {
  height: 60px;
  left: 515px;
  position: absolute;
  top: 37px;
  width: 60px;
}

.landing-page .delicious-food-get {
  color: #000000;
  font-family: "Urbanist-Black", Helvetica;
  font-size: 32px;
  font-weight: 900;
  left: 100px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 116px;
  width: 533px;
}

.landing-page .overlap {
  background-color: #ffffff;
  border-radius: 100px;
  box-shadow: 0px 4px 20px #00000014;
  height: 54px;
  left: 100px;
  position: absolute;
  top: 258px;
  width: 412px;
}

.landing-page .text-wrapper {
  color: #bdbdbd;
  font-family: "Urbanist-ExtraLight", Helvetica;
  font-size: 20px;
  font-weight: 200;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
  white-space: nowrap;
  width: 67px;
}

.landing-page .group {
  height: 81px;
  left: 550px;
  position: absolute;
  top: 317px;
  width: 213px;
}

.landing-page .overlap-group {
  height: 81px;
  position: relative;
  width: 211px;
}

.landing-page .rectangle {
  background-color: #ffddc4;
  border-radius: 100px;
  box-shadow: 0px 4px 20px #00000014;
  height: 81px;
  left: 0;
  position: absolute;
  top: 0;
  width: 207px;
}

.landing-page .text-wrapper-2 {
  color: #787878;
  font-family: "Urbanist-ExtraLight", Helvetica;
  font-size: 20px;
  font-weight: 200;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  width: 183px;
}

.landing-page .div-wrapper {
  background-color: #ffffff;
  border-radius: 100px;
  box-shadow: 0px 4px 20px #00000014;
  height: 81px;
  left: 600px;
  position: absolute;
  top: 207px;
  width: 316px;
}

.landing-page .text-wrapper-3 {
  color: #787878;
  font-family: "Urbanist-ExtraLight", Helvetica;
  font-size: 20px;
  font-weight: 200;
  left: 114px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 27px;
  white-space: nowrap;
  width: 159px;
}

.landing-page .overlap-2 {
  height: 81px;
  left: 770px;
  position: absolute;
  top: 317px;
  width: 211px;
}

.landing-page .rectangle-2 {
  background-color: #ffddc4;
  border-radius: 100px;
  box-shadow: 0px 4px 20px #00000014;
  height: 81px;
  left: 0;
  position: absolute;
  top: 0;
  width: 207px;
}

.landing-page .clear-completed {
  color: #787878;
  font-family: "Urbanist-ExtraLight", Helvetica;
  font-size: 20px;
  font-weight: 200;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  width: 183px;
}

.landing-page .overlap-3 {
  background-color: #ffffff;
  border-radius: 100px;
  box-shadow: 0px 4px 20px #00000014;
  height: 54px;
  left: 100px;
  position: absolute;
  top: 342px;
  width: 412px;
}

.landing-page .text-wrapper-4 {
  color: #bdbdbd;
  font-family: "Urbanist-ExtraLight", Helvetica;
  font-size: 20px;
  font-weight: 200;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
  white-space: nowrap;
  width: 350px;
  outline: none;
  border: 1px solid transparent;
}

.landing-page .overlap-4 {
  background-color: #ffffff;
  border-radius: 100px;
  box-shadow: 0px 4px 20px #00000014;
  height: 54px;
  left: 100px;
  position: absolute;
  top: 356px;
  width: 412px;
}

.landing-page .text-wrapper-5 {
  color: #bdbdbd;
  font-family: "Urbanist-ExtraLight", Helvetica;
  font-size: 20px;
  font-weight: 200;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
  white-space: nowrap;
  width: 20px;
}

.landing-page .overlap-5 {
  height: 33px;
  left: 152px;
  position: absolute;
  top: 450px;
  width: 358px;
}

.landing-page .text-wrapper-6 {
  color: #000000;
  font-family: "Urbanist-Black", Helvetica;
  font-size: 24px;
  font-weight: 900;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 358px;
}

.landing-page .text-wrapper-7 {
  color: #000000;
  font-family: "Urbanist-Black", Helvetica;
  font-size: 24px;
  font-weight: 900;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 358px;
}

.landing-page .overlap-6 {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 25px #0000001a;
  height: 231px;
  left: 140px;
  position: absolute;
  top: 492px;
  width: 375px;
}

.landing-page .text-wrapper-8 {
  color: #5e5e5e;
  font-family: "Urbanist-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 40px;
  width: 264px;
}

.landing-page .ellipse {
  background-color: #ff6b00;
  border-radius: 27.5px;
  height: 55px;
  left: 292px;
  position: absolute;
  top: 30px;
  width: 55px;
}

.landing-page .vector {
  height: 30px;
  left: 304px;
  position: absolute;
  top: 43px;
  width: 30px;
}

.landing-page .rectangle-3 {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 25px #0000001a;
  height: 231px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.landing-page .text-wrapper-9 {
  color: #5e5e5e;
  font-family: "Urbanist-SemiBold", Helvetica;
  font-size: 18px;
  font-weight:200;
  left: -10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  width: 364px;
  height: 200px; /* Set the desired height of the scrollable list */
  overflow-y: scroll;
  
  

}

/* start */

.landing-page .group121 {
  height: 81px;
  left: 672px;
  position: absolute;
  top: 40px;
  width: 379px;
}

.landing-page .overlap-group-121 {
  height: 81px;
  position: relative;
  width: 377px;
}

.landing-page .rectangle-121 {
  background-color: #ffddc4;
  border-radius: 10px;
  box-shadow: 0px 4px 20px #00000014;
  height: 81px;
  left: 0;
  position: absolute;
  top: 0;
  width: 340px;
}

.landing-page .text-wrapper-121 {
  color: #787878;
  font-family: "Urbanist-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 77px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 28px;
  white-space: nowrap;
  width: 300px;
}


.landing-page .text-wrapper-151 {
  color: #787878;
  font-family: "Urbanist-ExtraLight", Helvetica;
  font-size: 15px;
  font-weight: 200;
  left: 962px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 128px;
  white-space: nowrap;
  width: 159px;
}

/* end */



.landing-page .text-wrapper-9::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.landing-page .text-wrapper-9::-webkit-scrollbar-track {
  background-color: transparent; /* Transparent background */
}

.landing-page .text-wrapper-9::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
}

.landing-page .text-wrapper-9::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4); /* Color of the scrollbar thumb on hover */
}


.landing-page .ellipse-2 {
  /* color: ; */
  font-family: "Urbanist-ExtraLight", Helvetica;
  font-size: 10px;
  font-weight: 200;
  background-color: #ffbb8b;
  border-radius: 27.5px;
  height: 20px;
  left: 300px;
  position: absolute;
  width: 55px;
}

.landing-page .img {
  height: 30px;
  left: 304px;
  position: absolute;
  top: 43px;
  width: 30px;
}

.landing-page .text-wrapper-10 {
  color: #000000;
  font-family: "Urbanist-Black", Helvetica;
  font-size: 24px;
  font-weight: 900;
  left: 566px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 450px;
  width: 358px;
}

.landing-page .overlap-7 {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 25px #0000001a;
  height: 231px;
  left: 554px;
  position: absolute;
  top: 492px;
  width: 375px;
}

.landing-page .text-wrapper-11 {
  color: #5e5e5e;
  font-family: "Urbanist-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 40px;
  width: 264px;
}

.landing-page .vector-wrapper {
  background-color: #ff6b00;
  border-radius: 27.5px;
  height: 55px;
  left: 304px;
  position: absolute;
  top: 29px;
  width: 55px;
}

.landing-page .vector-2 {
  height: 30px;
  left: 12px;
  position: absolute;
  top: 13px;
  width: 30px;
}

.landing-page .nav-p-op {
  height: 383px;
  left: -642px;
  position: absolute;
  top: 129px;
  width: 578px;
}

.landing-page .vector-3 {
  height: 20px;
  left: 422px;
  position: absolute;
  top: 519px;
  width: 20px;
}

.landing-page .settings {
  height: 25px;
  left: 543px;
  position: absolute;
  top: 668px;
  width: 25px;
}

.landing-page .sell {
  height: 25px;
  left: 541px;
  position: absolute;
  top: 449px;
  width: 25px;
}

.landing-page .text-wrapper-12 {
  color: #ffffff;
  font-family: "Urbanist-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 460px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
}

.landing-page .text-wrapper-13 {
  color: #ffffff;
  font-family: "Urbanist-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 339px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 70px;
}

.landing-page .location-on {
  height: 25px;
  left: 341px;
  position: absolute;
  top: 587px;
  width: 25px;
}

.landing-page .text-wrapper-14 {
  color: #ffffff;
  font-family: "Urbanist-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 260px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 142px;
}

.landing-page .text-wrapper-15 {
  color: #ffffff;
  font-family: "Urbanist-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 188px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 223px;
}

.landing-page .shield {
  height: 25px;
  left: 217px;
  position: absolute;
  top: 738px;
  width: 25px;
}

.landing-page .text-wrapper-16 {
  color: #ffffff;
  font-family: "Urbanist-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 136px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 293px;
}

.landing-page .description {
  height: 25px;
  left: 113px;
  position: absolute;
  top: 807px;
  width: 25px;
}

.landing-page .text-wrapper-17 {
  color: #ffffff;
  font-family: "Urbanist-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 362px;
}
